body {
    font-family: Arial, sans-serif;
    margin: 0;
}

.navBar {
    display: flex;
    align-items: center;
    background-color: #FFC619;
    padding: 33px 5%;
    width: 100%; /* 改為相對寬度 */
    height: 120px;
    box-sizing: border-box;
    position: fixed; /* 固定位置 */
    top: 0; /* 固定在視窗頂部 */
    left: 0; /* 固定在視窗左側 */
}

.bergerMenu-placeholder{
    display: flex;
    align-items: center;
}

.logo-placeholder{
    position: absolute;
    width: 70px;
    height: 70px;
    left: 50%;
    transform: translateX(-50%); /* 水平置中 */
}

.logo{
    position: absolute;
    width: 100%;
    height: 100%;
}

.button-placeholder {
    display: flex;
    position: relative;
    width: 284px;
    height: 100%;
    gap: 32px;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
}

.logIn-btn, .signUp-btn{
    display: flex;
    justify-content: center; /* 水平置中 */
    align-items: center; /* 垂直置中 */
    width: 100%;
    height: 100%;
    font-size: 28px;
    color: #ffffff;
    position: relative; /* 設置相對定位 */
    overflow: hidden; /* 隱藏溢出部分 */
}

/* 動畫 還沒做完 */
.logIn-btn::after, .signUp-btn::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150%; /* 設置一個比按鈕大的寬度，以便在動畫中移入 */
    height: 150%; /* 設置一個比按鈕大的高度，以便在動畫中移入 */
    background-image: url('./NavBar_image/logo.png');
    background-size: cover;
    background-position: center;
    transition: transform 0.3s; /* 添加過渡效果 */
    transform: translate(-50%, -50%) scale(0); /* 初始狀態，隱藏圖片 */
}

.logIn-btn:hover::after, .signUp-btn:hover::after {
    transform: translate(-50%, -50%) scale(1); /* 滑鼠懸浮時，顯示圖片 */
}

.signUp-btn{
    background-color: #BC4B51;
    border-radius: 5px;
}

/* 側欄 */
.sidebar-placeholder {
    position: absolute;
    width: 250px;
    height: 100%;
    left: -250px;
    /* background-color: aqua; */
    transition: left 0.3s ease;
}

.sidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 250px;
    height: calc(100% - 120px);
    align-items: center;
    top: 120px;
    padding: 20px;
    box-sizing: border-box;
    color: white;
    background-color: #BC4B51;
}

.bergerMenu-placeholder:hover .sidebar-placeholder {
    left: 0;
}

.header {
    font-size: 24px;
    text-align: center;
    margin-bottom: 40px;
}

.profile {
    text-align: center;
    margin-bottom: 40px;
}

.profile-icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.user-id {
    font-size: 20px;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.menu-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
    color: #D9777C;
}

.menu-item:hover {
    background-color: #D9777C;
}

.icon {
    width: 32px;
    height: 32px;
}

.menu-text {
    font-size: 20px;
}

