@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');



body {
    margin: 0;
    font-family: "Noto Sans TC", sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh; /* 設置整個頁面的高度 */
    background-color: #FFC619 !important;
}

/* 導覽列樣式 */
.navBar {
    display: flex;
    align-items: center;
    background-color: #FFC619;
    padding: 33px 5%;
    width: 100%;
    height: 120px;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    z-index: 1000; /* 確保導航欄在最上層 */
}

.bergerMenu-placeholder {
    display: flex;
    align-items: center;
}

.logo-placeholder {
    position: absolute;
    width: 70px;
    height: 70px;
    left: 50%;
    transform: translateX(-50%);
}

.logo {
    position: absolute;
    width: 100%;
    height: 100%;
}

.button-placeholder {
    display: flex;
    position: relative;
    width: 284px;
    height: 100%;
    gap: 32px;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
}

.logIn-btn, .signUp-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 20px;
    color: #ffffff;
    position: relative;
    overflow: hidden;
}

.logIn-btn::after, .signUp-btn::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150%;
    height: 150%;
    background-image: url('./NavBar_image/logo.png');
    background-size: cover;
    background-position: center;
    color: #ffffff;
    transition: transform 0.3s;
    transform: translate(-50%, -50%) scale(0);
}

.logIn-btn:hover::after, .signUp-btn:hover::after {
    transform: translate(-50%, -50%) scale(1);
}

.signUp-btn {
    background-color: #BC4B51;
    border-radius: 5px;
}

.sidebar-placeholder {
    position: absolute;
    width: 250px;
    height: 100%;
    left: -250px;
    transition: left 0.3s ease;
}

.sidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 250px;
    height: calc(100% - 120px);
    align-items: center;
    top: 120px;
    padding: 20px;
    box-sizing: border-box;
    color: white;
    background-color: #BC4B51;
}

.sidebar a{
    color: #ffffff;
}

.sidebar a:hover, a:visited, a:link, a:active {
    color: #ffffff;
    text-decoration: none;
}

.bergerMenu-placeholder:hover .sidebar-placeholder {
    left: 0;
}

.header {
    font-size: 24px;
    text-align: center;
    margin-bottom: 40px;
}

.profile {
    text-align: center;
    margin-bottom: 40px;
}

.profile-icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.user-id {
    font-size: 20px;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.menu-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
    color: #D9777C;
}

.menu-item:hover {
    background-color: #D9777C;
}

.icon {
    width: 32px;
    height: 32px;
}

.menu-text {
    font-size: 20px;
}



